.main {
    margin:8% 10%;
}
.main .intro {
    width:70%;
    margin:2% 15%;
}

.main .paydayLoanGraphic {
    float:left;
    width:50%;
        margin:5% 0 5% 3%;
        
}
.main .paydayloan {
    float:left;
    width:35%;
    padding:2% 3%;
    margin:5% 0 5% 5%;
    color:#aa0b31;
    border-right:2px solid #aa0b31;
}
.homecoming img {
    width:70%;
    margin:5% 15%;
}
.homecoming p {
    margin-top:0;
    padding-top:0;
    color:#297d0e;
}
.homecoming {
    margin-bottom:5%;
}
.main .page3 {
    width:100%;
    height:auto;
}
.page3 img {
    float:left;
    width:45%;
    margin:0 0 0 7% ;
    padding-right:5%;
    border-right:2px solid #4d47e5;
}
.page3 p {
    padding:5% 0;
    float:left;
    width:34%;
    margin-left:4%;
    color:#4d47e5;
   
    
}

@media only screen and (max-width: 900px) {
.main .paydayloan {
    font-size: .9em;
    margin-left:8%;
}
.main .paydayLoanGraphic {
    margin-top:10%;
    width:47%;
    margin-left:1.5%;
}
.page3 img {
    margin-left:10%;
    padding-right:3%;
}
.page3 p {
    padding:0 0 5% 0;
    width:30%;
    font-size:.9em;
   
}
}