/*****CSS Stylesheet for internal pages of Maegan Clawges's Portfolio Site*****/
/***********    By Maegan Clawges, please do not replicate    ************/

h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: Roboto;
	font-weight: 500;
}
    h1 {
        font-size:45px;
        text-align: center;
    }

    h2 {
        margin:0;
        text-align: center;
        font-weight:500;
        font-size: 21px;
    }
    h3 {
        font-size:25px;
        color:#000;
    }
body {
  color: #494949;
  margin: 0;
}
.main img {
    width:100%;
    margin: 25px 0;
}
.main .half-img {
    width:40%;
    margin: 25px 5%;
    float:left;
}

.dark-purple {
    color:#652d90;
    text-align: left;
    margin-left:12%;
}
.purple {
    color:#b397c7;
    text-align: left;
    margin-left:-30px;
}

#header {
   position:fixed;
   left:0;
   top:0;
   height:40px;
   width:100%;
   z-index: 100;
   background-color: #FFF;
	 box-shadow: 0px 1px 1px rgba(0,0,0,0.20);
}

/* Style main header content */

.toolbar {
    margin-left:8%;
}

.toolbar h5 {
    color:#652d90;
    float:left;
    margin-top: 10px;
    font-size:18px;
    margin-bottom: 5px;
}
  .toolbar h5 b {
    font-weight: 300;
    font-size: 16px;
    color:#b397c7;
  }
  .toolbar h2 {
    font-size:18px;
    font-weight: 500;
  }

.toolbar .right {
    margin:0 8% 0 0;
    color:#fff;
    float:right;
    position:relative;
}
.toolbar a {
  text-decoration: none;
  position:relative;
  color:#652d90;
}
.toolbar a:hover {
  color: #b397c7;
}
		.toolbar .right a {
            text-decoration: none;
            float:right;
            position:relative;
            margin:0;
            font-size:16px;
            color:#b397c7;
    	}
			.toolbar .right #resume h2 {
				height: 24px;
				margin: 12px 8px 0 8px;
				font-size: 17px;
				font-weight: 300;
			}

			.toolbar .right a img {
				width: 24px;
				margin: 8px;
        margin-bottom: 4px;
			}
    	.toolbar .right a:hover {
		    box-shadow: 0px 3px rgba(101,45,144,.2);
				border-top: 2px solid rgba(101,45,144,.2);
		}
		.toolbar .right a:hover img {
			margin-top: 6px;
		}
		.toolbar .right #resume:hover h2 {
			margin-top: 10px;
			margin-bottom: 3px;
		}

#menu {
  position:fixed;
  z-index: 200;
  left:0;
  top:40px;
  height:22px;
  margin-left:8%;
  background-color: #FFF;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.20);
}

#initials {
	display: none;
	height: 20px;
	margin: 1px 0;
  padding: 0 12px;
	float:left;
}
#menu h2 {
  float:left;
  position:relative;
  margin:0;
  font-size:14px;
  margin: 2px 0;
  padding: 0 12px;
  border-right: 1px solid #b397c7;
}
#menu h2:last-child {
  border: none;
}
#menu a {
  text-decoration: none;
  color:#b397c7;
  font-weight: 300;
}
#menu a:hover {
  color: #652d90;
}
#menu .active {
	color: #652d90;
	font-weight: 400;
}

.menu-mobile {
	display: none;
}
.menu-desktop {
	display:block;
}

#previous {
    position:absolute;
    left:20px;
    top:50px;
}
#next {
    position:absolute;
    right:20px;
    top:50px;
}
#next a, #previous a {
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
}

.main {
    width:70%;
    margin:100px 15%;
}
    .main a {
        color:#652d90;
        text-decoration: underline;
    }
        .main p a{
            font-weight: 500;
        }
        .main .intro a{
            font-weight: 500;
        }
        .main a:hover {
            color:#b397c7;
        }
    .main h1 a, .main .button-link {
        text-decoration: none;
    }
        .main h1 a:hover, .main .button-link {
            text-decoration: none;
        }
    .main a .button {
        padding:1% 0;
        margin:0 20%;
        border-radius:20px;
        background-color:#652d90;
        text-align: center;
        color:#fff;
        width:60%;
        font-size:18px;
        z-index:-100;
        font-weight:400;
    }
        .main a .button:hover {
            background:#b397c7;
        }
    .main p {
        width:76%;
        margin:20px 12%;
        font-size:15px;
        font-weight: 400;
    }
    .main .note {
        font-style: italic;
        color:#666;
        font-size: 14px;
    }

.main h2 a {
    text-decoration: none;
}
.highlight{
    font-size: 18px;
    color:#652d90;
}
li {
  font-weight: 400;
}
.main .intro{
  width:76%;
  margin:20px 12%;
}
.main .dth-box {
    width:100%;
    height:750px;
}
.main .dth-box2 {
    width:100%;
    height:650px;
}
.payday-loan-graphic {
    float:left;
    width:60%;
    margin-right:30px
}
.homecoming {
    width:70%;
    float:right;
    margin-left:30px
}

.web, .illustration, .motion {
  width:80%;
  margin:120px 10%;
}

.web h1, .illustration h1, .motion h1 {
  margin-bottom: 10px;
  color:#652d90;
}

.web h2, .illustration h2 {
  margin-bottom: 20px;
  color: #757575;
  font-weight:400;
}

.motion h2 {
  margin-top: 60px;
  color: #757575;
  font-weight:300;
  font-size: 36px;
}

.portrait {
  position: absolute;
  z-index:-10;
}
.overlay-full {
  background-color: #212121;
  opacity: .001;
  position: absolute;
  z-index:10;
  padding: 20px 40px;
  height: 80px;
  bottom: 0;
}

.janus {
	height: 200px;
}

.scarlet {
	height: 120px;
}

.overlay-full h2 {
  color: #FFF;
}
.overlay-full h4 {
  font-weight:300;
	line-height: 1.4em;
  color:#FFF;
}
.overlay-full h4 a {
  color: #FFF;
  text-decoration: none;
}
.overlay-full h4 a:hover {
  text-decoration: underline;
}

/* Make it responsive */
@media only screen and (max-width: 1000px) {
    .main .dth-box {
        height:560px;
    }
    .main .dth-box2 {
        height:480px;
    }
		.toolbar .right {
        width: 30%;
				margin-right: 5%;
    }
}
@media only screen and (max-width: 870px) {
		.toolbar {
			margin-left: 3%;
		}
    .toolbar .right {
        width: 35%;
				margin-right: 3%;
    }
    .main .dth-box {
        height:480px;
    }

}
@media only screen and (max-width: 740px) {
	#linked-in {
		display: none;
	}
	#medium {
		display: none;
	}
	.toolbar .right {
			width: 28%;
	}
}
@media only screen and (max-width: 645px) {
	#github {
		display: none;
	}

    .toolbar {
        margin-left:4%;
    }
        .toolbar h5 {
            font-size:18px;
        }
        .toolbar .right {
            width: 23%;
            margin-right:0;
        }
            .toolbar .right a {
                font-size:14px;
                border-right:none;
                border-left: 2px #fff solid;
            }
    .main {
        width:80%;
        margin:80px 10%;
    }
    .dark-purple {
        margin-left:0px;
    }
    .main a .button {
        padding:10px 0;
        margin:0 -5%;
        width:110%;
        font-size:16px;
    }
    .payday-loan-graphic, .homecoming {
        width:100%;

    }

    .main .dth-box {
        height:880px;
    }
    .main .dth-box2 {
        height:700px;
    }

}
@media only screen and (max-width: 585px) {
	#header {
		display: none;
	}
	#menu {
		top: 0;
	}
	#initials {
		display: block;
	}
}
@media only screen and (max-width: 500px) {
	#menu {
		margin-left:3%;
	}

}
@media only screen and (max-width: 460px) {
	.menu-mobile {
		display: block;
	}
	.menu-desktop {
		display:none;
	}
    .toolbar h5 {
        line-height: 1.5em;
        font-size:14px;
    }
        .toolbar .right a {
            padding-top:14px;
            font-size:12px;
        }
    .portrait {
        width:100%;
        padding:0;
    }
    h4 {
        padding-top:3%;
        font-size: 11px;
        line-height: 1em;
    }
    h1 {
        font-size:32px;
    }
    h2 {
        font-size: 20px;
    }
}


ul {
	padding:1%;
}
ol {
	margin:0 2%;
}
.links {
	list-style-type:disc;
}

.ms-pm li {
	margin:0 15%;
}
.ms-test {
    margin-left:0;
}
.ms-test li {
	margin:0 8%;
}
.ms-dev {
	font-size:1.2em;
	margin:0 7%;
	color:#652d90;
}

#culturalUX {
    width:94%;
    margin:3%;
}
.ph1 {
    top:0;
    width:100%;
    padding:0 9%;
    z-index:50;
}
    .main .dth-box {
        height:800px;
    }
    .main .dth-box2 {
        height:590px;
    }
