/*****CSS Stylesheet for internal pages of Maegan Clawges's Portfolio Site*****/
/***********    By Maegan Clawges, please do not replicate    ************/

h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: Roboto;
	font-weight: 400;
}
    h1 {
        font-size:45px;
        text-align: center;
    }

    h2 {
        margin:0;
        text-align: center;
        font-weight:400;
        font-size: 24px;
				line-height: 1.3em;
    }
    h3 {
        font-size:25px;
        color:#000;
    }
body {
  color: #494949;
  margin: 0;
}
.main img {
    width:100%;
    margin: 25px 0;

}
.main .half-img {
    width:40%;
    margin: 25px 5%;
    float:left;
}

.dark-purple {
		margin-top: 40px;
    color:#652d90;
}
.purple {
    color:#b397c7;
    text-align: left;
    margin-left:-30px;
}

.main {
    width:70%;
    margin:100px 15%;
}
    .main a {
        color:#652d90;
        text-decoration: underline;
    }
        .main p a{
            font-weight: 500;
        }
        .main .intro a{
            font-weight: 500;
        }
        .main a:hover {
            color:#b397c7;
        }
    .main h1 a, .main .button-link {
        text-decoration: none;
    }
        .main h1 a:hover, .main .button-link {
            text-decoration: none;
        }
    .main a .button {
        padding:8px 0;
        margin:10px auto;
        border-radius:20px;
        background-color:#652d90;
        text-align: center;
        color:#fff;
        width: 240px;
        font-size:18px;
        z-index:-100;
        font-weight:400;
    }
        .main a .button:hover {
            background:#b397c7;
        }
    .main p {
        width:76%;
        margin:20px 12%;
        font-size:15px;
        font-weight: 400;
    }
    .main .note {
        font-style: italic;
        color:#666;
        font-size: 14px;
    }

.main h2 a {
    text-decoration: none;
}
.highlight{
    font-size: 18px;
    color:#652d90;
}
li {
  font-weight: 400;
}
.main .intro{
  width:76%;
  margin:20px 12%;
}
.main .dth-box {
    width:100%;
    height:750px;
}
.main .dth-box2 {
    width:100%;
    height:650px;
}
.payday-loan-graphic {
    float:left;
    width:60%;
    margin-right:30px
}
.homecoming {
    width:70%;
    float:right;
    margin-left:30px
}

.web, .illustration, .motion {
  width:80%;
  margin:120px 10%;
}

.web h1, .illustration h1, .motion h1 {
  margin-bottom: 10px;
  color:#652d90;
}

.web h2, .illustration h2 {
  margin-bottom: 20px;
  color: #757575;
  font-weight:400;
}

.motion h2 {
  margin-top: 60px;
  color: #757575;
  font-weight:300;
  font-size: 36px;
}

.portrait {
  position: absolute;
  z-index:-10;
}
.overlay-full {
  background-color: #212121;
  opacity: .001;
  position: absolute;
  z-index:10;
  padding: 20px 40px;
  bottom: 0;
}
.overlay-full h2 {
  color: #FFF;
}
.overlay-full h4 {
  font-weight:300;
	line-height: 1.5em;
  color:#FFF;
	font-size: 14px;
}
.overlay-full h4 a {
  color: #FFF;
  text-decoration: none;
	font-weight: 300;
}
.overlay-full h4 a:hover {
  text-decoration: underline;
}
.overlay-full i {
	opacity: .6;
}

/* Make it responsive */
@media only screen and (max-width: 1000px) {
    .main .dth-box {
        height:560px;
    }
    .main .dth-box2 {
        height:480px;
    }
}
@media only screen and (max-width: 870px) {

    .main .dth-box {
        height:480px;
    }

}

@media only screen and (max-width: 645px) {

    .main {
        width:80%;
        margin:80px 10%;
    }
    .dark-purple {
        margin-left:0px;
    }
    .main a .button {
        padding:10px 0;
        margin:0 -5%;
        width:110%;
        font-size:16px;
    }
    .payday-loan-graphic, .homecoming {
        width:100%;

    }

    .main .dth-box {
        height:880px;
    }
    .main .dth-box2 {
        height:700px;
    }

}
@media only screen and (max-width: 585px) {
	#header {
		display: none;
	}
	#menu {
		top: 0;
	}
	#initials {
		display: block;
	}
	.portrait {
		position: relative;
	}
	.overlay-full {
	  background-color: #fff;
	  opacity: 1;
		margin-top: -4px;
	  position: relative;
	  z-index:10;
	  padding: 20px 40px;
	}

	.overlay-full h2, .overlay-full h4, .overlay-full h4 a {
		color: #652d90;
	}
}
@media only screen and (max-width: 500px) {
	#menu {
		margin-left:3%;
	}

}
@media only screen and (max-width: 460px) {
	.menu-mobile {
		display: block;
	}
	.menu-desktop {
		display:none;
	}

    .portrait {
        width:100%;
        padding:0;
    }
    h4 {
        padding-top:3%;
        font-size: 11px;
        line-height: 1em;
    }
    h1 {
        font-size:32px;
    }
    h2 {
        font-size: 20px;
    }
}


ul {
	padding:1%;
}
ol {
	margin:0 2%;
}
.links {
	list-style-type:disc;
}

.ms-pm li {
	margin:0 15%;
}
.ms-test {
    margin-left:0;
}
.ms-test li {
	margin:0 8%;
}
.ms-dev {
	font-size:1.2em;
	margin:0 7%;
	color:#652d90;
}

#culturalUX {
    width:94%;
    margin:3%;
}
.ph1 {
    top:0;
    width:100%;
    padding:0 9%;
    z-index:50;
}
    .main .dth-box {
        height:800px;
    }
    .main .dth-box2 {
        height:590px;
    }
