/*****FONT IMPORTS*****/

@font-face{
	font-family:Myriad Pro Light;
	src:url('fonts/MyriadPro-Light.otf');
}
@font-face{
	font-family:Myriad Pro;
	src:url('fonts/MyriadPro-Regular.otf');
}

.main img{
   width:100%;
   margin:2% 0 6% 0;
}

li, .links li:first-child {
	margin-top:2%;
}
.links li {
	margin-top:0;
}